
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InShelter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../static/images/home.png">

    <!--styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/signUp.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">InShelter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
					
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Username">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<div class="row">
			<div class="span6">
				<center>
					<h1>Need Shelter?</h1>
					<p></p>
					<p>Register and find open shelters fit for you</p>
					<img src="../static/images/home.png" alt="Home" style="width:228px;height:228px;">
				<center>
			</div>
			<div class="span4">
				<form class="navbar-form">
				  <p style="font-size:100%;">First Name:
					<input name="inputFirstName" id="inputFirstName" class="span4" type="text" placeholder="Your first name">
				  </p>
				  
				  <p style="font-size:100%;">Last Name:
					<input name="inputLastName" id="inputLastName" class="span4" type="text" placeholder="Your last name">
				  </p>
				  
				  <p style="font-size:100%;">Username:
					<input name="inputUsername" id="inputUsername" class="span4" type="text" placeholder="Pick a username">
				  </p>
				  
				  <p style="font-size:100%;">Password:
					<input name="inputPassword" id="inputPassword" class="span4" type="password" placeholder="Create a password">
				  </p>
				  
				  <a  id="btnSignUp" class="btn btn-success">Sign Up</a>
				</form>
			</div>
		</div>
      </div>

      <!-- Example row of columns-->
      <div class="row">
        <div class="span10">
          <p>Are you an organization looking to provide resources to the homeless? Register below!</p>
          <p><a class="btn btn-success" href="showOrgRegPage">Organization Signup</a></p>
        </div>
	  </div>
      <hr>

      <footer>
        <p>GlobalHack VI 2016</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
