
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InShelter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../images/home.png">

    <!--styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	<script src="https://raw.githubusercontent.com/vitalets/combodate/master/src/combodate.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="homepage.html">InShelter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
					
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Username">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<div class="row">
			<div class="span10">
				<center>
					<h1>Orgnization Profile</h1>
				</center>
				<p></p>
			</div>
			<div class="span10">
				<form class="navbar-form">
				  <p style="font-size:100%;">E-Mail Address:
					<input class="span10" type="text" placeholder="Enter your e-mail">
				  </p>
				  
				  <p style="font-size:100%;">Birthday:
					<br>
					<input class="span1" type='number' min="01" max="12" pattern='\d{2}' placeholder="MM">
					<input class="span1" type='number' min="01" max="31" pattern='\d{2}' placeholder="DD">
					<input class="span2" type='number' min="01" pattern='\d{4}' placeholder="YYYY">
				  </p>
				  
				  <p style="font-size:100%;">Gender:
					<select class="span10" name="gender">
					  <option value="none">I am...</option>
					  <option value="male">Male</option>
					  <option value="female">Female</option>
					  <option value="other">Other</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Phone Number:
					<br>
					<input class="span1" type='text' pattern='\d{3}' placeholder="XXX" <a> - </a></input>
					<input class="span1" type='text' pattern='\d{3}' placeholder="XXX" <a> - </a></input>
					<input class="span1" type='text' pattern='\d{3}' placeholder="XXXX">
				  </p>
				  
				  <p style="font-size:100%;">City:
					<input class="span10" type="text" placeholder="Your current city">
				  </p>
				  
				  <p style="font-size:100%;">State:
					<input class="span10" type="text" placeholder="Your current state">
				  </p>
				  
				  <button type="submit" class="btn btn-success">Save Profile</button>
				</form>
			</div>
		</div>
      </div>

      <hr>

      <footer>
        <p>GlobalHack VI 2016</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
