
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InShelter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../static/images/home.png">

    <!--styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<script src="../static/js/jquery.js"></script>
    <script src="../static/js/reserveRoom.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">InShelter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
			<li class="dropdown nav pull-right">
                <a href="#" class="dropdown-toggle brand " data-toggle="dropdown">{{ userInfo['username'] }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </li>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<div class="row">
			<div class="span10">
				<center>
					<h2>Choose Your Shelter, {{ userInfo['firstName'] }} </h2>
					<p></p>
					<p>Below are shelters custom filtered for you</p>
                    <br>
				<center>
			</div>
            <center>
			<div class="span6">
                <form class="navbar-form span 6">
				  <input class="span6" name="shelterno" id="shelterno" type="number" placeholder="Shelter # to reserve" }}>
                    <a name="btnReserve" id="btnReserve" class="btn btn-primary span6" value="test">Reserve</a>
                </form>
              </div>
              </center>
              <div class="span10">  
                 <br>
                    <center>
                    <table>
                        <tr>
                            <th><u>#</u></th>
                            <th><u>Name</u></th>
                            <th><u>Distance</u></th>
                            <th><u>Location</u></th>
                            <th><u>Open Rooms</u></th>
                            <th><u>Closing Time</u></th>
                        </tr> 
                        {% for tup in shelterInfo %}
                           <tr> 
                                <td class="span1"> {{ tup[1] }} </td>
                                <td class="span3"> {{ tup[3] }} </td>
                                <td class="span1"> {{ tup[2] }} </td>
                                <td class="span3"> {{ tup[4] }} </td>
                                <td class="span1"> {{ tup[5] }} </td>
                                <td class="span1"> {{ tup[6] }} </td> 
                           </tr>
                        {% endfor %}
                        
                    </table>
</center>
                <br>
                
			</div>
		</div>
      </div>

      <footer>
        <p>GlobalHack VI 2016</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
