
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InShelter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../static/images/home.png">

    <!--styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<script src="../static/js/jquery.js"></script>
    <script src="../static/js/saveUserProfile.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	<script src="https://raw.githubusercontent.com/vitalets/combodate/master/src/combodate.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">InShelter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
			<li class="dropdown nav pull-right">
                <a href="#" class="dropdown-toggle brand " data-toggle="dropdown">Username<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Log Out</a></li>
                  <li><a href="#">Another action</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<div class="row">
			<div class="span10">
				<center>
					<h1>My Profile</h1>
				</center>
				<p></p>
			</div>
			<div class="span10">
			   <center>
					<br>
					<h3><u>Basic Information</u></h3>
					<br>
			    </center>
				<form class="navbar-form">
				  <p style="font-size:100%;">First Name:
					<input class="span10" name="uFirstName" id="uFirstName" type="text" value={{ userInfo['firstName'] }}>
				  </p>
				  
				  <p style="font-size:100%;">Last Name:
					<input class="span10" name="uLastName" id="uLastName" type="text" value={{ userInfo['lastName'] }}>
				  </p>
				  
				  <p style="font-size:100%;">Language Preference:
					<input class="span10" name="uLanguage" id="uLanguage" type="text" placeholder="Your favorite language">
				  </p>
				  
				  <p style="font-size:100%;">E-Mail Address: <a class="pull-right" href="https://accounts.google.com/SignUp" target="_blank">Don't have one? Click here to create one!</a>
					<input class="span10" name="uEmail" id="uEmail" type="text" placeholder="Enter your e-mail">
				  </p>
				  
				  <p style="font-size:100%;">Birthday:
					<br>
					<input name="uBdayM" id="uBdayM" class="span1" type='number' min="01" max="12" pattern='\d{2}' placeholder="MM">
					<input name="uBdayD" id="uBdayD" class="span1" type='number' min="01" max="31" pattern='\d{2}' placeholder="DD">
					<input name="uBdayY" id="uBdayY" class="span2" type='number' min="01" pattern='\d{4}' placeholder="YYYY">
				  </p>
				  
				  <p style="font-size:100%;">Gender:
					<select name="uGender" id="uGender" class="span10">
					  <option value="female">Female</option>
					  <option value="male">Male</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Social Security Number:
					<br>
					<input name="uSSN1" id="uSSN1" class="span1" type='text' pattern='\d{3}' placeholder="XXX" <a> - </a></input>
					<input name="uSSN2" id="uSSN2" class="span1" type='text' pattern='\d{2}' placeholder="XX" <a> - </a></input>
					<input name="uSSN3" id="uSSN3" class="span1" type='text' pattern='\d{4}' placeholder="XXXX">
				  </p>
				  
				  <p style="font-size:100%;">Phone Number:
					<br>
					<input name="uPhone1" id="uPhone1" class="span1" type='text' pattern='\d{3}' placeholder="XXX" <a> - </a></input>
					<input name="uPhone2" id="uPhone2" class="span1" type='text' pattern='\d{3}' placeholder="XXX" <a> - </a></input>
					<input name="uPhone3" id="uPhone3" class="span1" type='text' pattern='\d{3}' placeholder="XXXX">
				  </p>
				  
				  <p style="font-size:100%;">Where is it easiest to find you?:
					<input class="span10" name="uLocation" id="uLocation" type="text" placeholder="An address, street intersection, store, city, and/or state">
				  </p>
				  
				<center>
					<br>
					<h3><u>Survey Questions</u></h3>
					<br>
			    </center>
				
				  <p style="font-size:100%;">Do you frequently sleep in anything other than a shelter, traditional housing, or a safe haven?
					<select name="sleepout" id="sleepout" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Have you experienced 1 or more consecutive years of homelessness and/or 4+ episodes of homelessness?
					<select name="vethl" id="vethl" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">In the past six months have you had four or more interactions with emergency services?
					<select name="eserve" id="eserve" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Have you threatened to harm or harmed yourself or others?
					<select name="harm" id="harm" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Do you have any legal issues?
					<select name="legal" id="legal" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Do you do risky things or get tricked into doing things you don’t want to do?
					<select name="exploit" id="exploit" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Is there anyone that thinks you owe them money OR do you not have a source of income?
					<select name="money" id="money" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Do you have planned activities other than just surviving that make you feel happy and fulfilled?
					<select name="meaning" id="meaning" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Are you currently able to take care of basic needs, like bathing, changing clothes, using a restroom, getting food and clean water, etc.?
					<select name="selfcare" id="selfcare" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Is your current homelessness in any way caused by a relationship that broke down, an unhealthy or abusive relationship, or because family or friends caused you to become evicted?
					<select name="social" id="social" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Would you consider yourself physically healthy?
					<select name="physical" id="physical" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Have alcohol or drug use caused you problems, or do you expect them to cause you problems in the future?
					<select name="substance" id="substance" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Has mental health caused you problems, or do you expect them to cause you problems in the future?
					<select name="mental" id="mental" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Are you doing anything other than taking your prescribed medicine?
					<select name="medication" id="medication" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  <p style="font-size:100%;">Has your current period of homelessness been caused by an experience of emotional, physical, psychological, sexual, or other type of abuse, or by any other trauma you have experienced?
					<select name="abuse" id="abuse" class="span10">
					  <option value=0>No</option>
					  <option value=1>Yes</option>
					</select>
				  </p>
				  
				  
				  <a id="btnSaveProfile" class="btn btn-success">Save Profile</a>
				</form>
			</div>
		</div>
      </div>

      <hr>

      <footer>
        <p>GlobalHack VI 2016</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
